/* Table */


table {
    width: 100%;
    border-collapse: collapse;
    height: 50px;
    text-align: center;
}

.header_fixed {
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    border: 1px solid #dddddd;
}

.header_fixed thead th {
    position: sticky;
    top: 10px;
    background-color: rgb(139, 133, 133);
    color: #e6e7e8;
    font-size: 15px;
    
}

th,
td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    font-size: 14px;
    height: 30px;
}


tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #edeef1;
}

tr:hover td {
    color: #44b478;
    cursor: pointer;
    background-color: #ffffff;
}

td button {
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: rgb(97, 131, 170);
    color: #e6e7e8;
}

td button:hover{
    background-color: #7e0404;
}


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 15%;
  }
}

.upload-section {
    background-color: #dddddd;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Center the form horizontally */
.justify-content-center {
    justify-content: center;
}

/* Style for the form fields and buttons */
.form-control {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

/* End-Table */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.popup-content {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    font-size: 36px;
}

/* Add more styles as needed */

/* Styles for the form elements */
label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #007BFF;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #007BFF;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #007BFF;
}

thead button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.popup .popup-content button{
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #0056b3;
}

.icon{
    text-align: center;
    font-size: 100px;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  select {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}


/* -------Styles for the Notes-------------- */


#notes_area {
    border: 2px solid #ccc; /* Border color */
    padding: 10px; /* Padding for the content inside the border */
    border-radius: 8px; /* Rounded corners */
    width: 70%; /* Adjust the width as needed */
    margin: 20px auto; /* Center the paragraph on the page */
}


/*---------File Upload --------------*/

