<!DOCTYPE html>
<html>
	<head>
	<title>Two-A-Day</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../static/css/login_style.css"">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>

		<div class="container" id="container">
		<div class="form-container sign-in-up-container">
			<form action="#" method="POST">
				<h1>Sign In</h1>
				<div class="social-container">
				<a href="#" class="social"><i class="fa fa-facebook"></i></a>
				<a href="#" class="social"><i class="fa fa-google"></i></a>
				<a href="#" class="social"><i class="fa fa-linkedin"></i></a>
			</div>
			<span>or use your account</span>
			<input type="email" name="email" id="email" placeholder="Email" required>
			<input type="password" name="password" id="password" placeholder="Password" required>
			<a href="#">Forgot Your Password</a>

			<button type="submit">Sign In</button>
			{{msg}}	<!--Error Message when logging in-->
			</form>
		</div>
			<div class="overlay-container">
				<div class="overlay">
					<div class="overlay-panel overlay-right">
						<h1>Welcome Back!</h1>
						<a href="/sign-up"> <button class="ghost" > Sign Up </button></a>
						<p> Don't have an account? Sign up</P> 
					</div>
			</div>
		</div>


	</body>
</html>








