<!DOCTYPE html>
<html>
<head>
	<title>Two-A-Day</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../static/css/login_style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="container" id="container">
<div class="form-container sign-in-up-container">

<form method="POST">
	<h1>Create Account</h1>
	<div class="social-container">
		<a href="#" class="social"><i class="fa fa-facebook"></i></a>
		<a href="#" class="social"><i class="fa fa-google"></i></a>
		<a href="#" class="social"><i class="fa fa-linkedin"></i></a>
	</div>
	<span>or use your email for registration</span>
	<input type="email" name="email" id="email" placeholder="Email" required>
	
	<input type="text" name = "fullname" id= "fullname" placeholder="Fullname" required>
	
	<input type="password" name="password1" id="passowrd1" placeholder="Password" required>
	<input type="password" name="password2" id="password2" placeholder="Confirm Password" required>

	<span id="password-match-error" style="color: red; display: none;">Passwords do not match.</span>
	
	<button type="submit">Sign Up</button>
	{{msg}}	<!--Error Message -->
</form>
</div>
<div class="overlay-container">
	<div class="overlay">
		<div class="overlay-panel overlay-right">
			<h1> Two-A-Day</h1>
			<p>Candidates Management System </br></br>Management MADE EASY...!</p>
			<a href="/login"> <button class="ghost"> Sign In </button></a>
			<p> Have an account? Sign in</p>
		</div> 
	</div>
</div>
</div>


</body>
</html>








